* {
    box-sizing: border-box;
}

body {
    background-color: Cornsilk;
    margin: 0;
    font-family: Roboto, sans-serif;
    color: SteelBlue;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    padding: 1rem 2rem;
    z-index: 1000;
}

main {
    top: 55px;
    height: 400px;
    margin: auto;
    color: SteelBlue;
    font-family: Roboto, sans-serif;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 1.2rem;
}


.nav-left, .nav-right {
    display: flex;
    gap: 1rem;
}

.nav-left a, .nav-right a {
    text-decoration: none;
    color: SteelBlue;
    font-size: 1.2rem;
}

#canvas-container {
    top: 55px;
    position: fixed;
    height: calc(100vh - 55px);
    width: 100%;
    margin: auto;
    z-index: 0;
    display: block;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

canvas {
    aspect-ratio: 1.5555;
    max-width: 100%;
    padding: 0;
    height: 100%;
    display: block;
    pointer-events: none;
    margin: auto;
}

/*
@media (max-width: 600px) {
    header {
        padding: 0.75rem 1rem;
    }
    #canvas-container {
        top: 44px;
    }

    .nav-left, .nav-right {
        gap: 0.5rem;
    }

    .nav-left a, .nav-right a {
        font-size: 1rem;
    }
}
*/
